html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.copyright-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-container
.text-wrapper{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}