html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    position: relative;
    z-index: 10;
}

header .top-frame{
    width: 100%;
    height: 100%;
    border: none;
}

main{
    width: 100%;
    height: 65vh;
    overflow: hidden;
    display:flex;
}

main .menu-frame{
    width: 20%;
    height: 100%;
    border: none;
}

main .content-frame{
    width: 80%;
    height: 100%;
    border: none;
}

footer{
    width: 100%;
    height: 15vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: relative;
    z-index: 10;
}

footer .footer-frame{
    width: 100%;
    height: 100%;
    border: none;
}